<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' q type="text/css" href='../css/style.css' />
    <title>Document</title>
    <h2 class="maintext">
        <p style="text-align:center;">세종시 자율주행 발렛 파킹</p>
    </h2>

</head>

<body>
    <div class=map>

        <img class="imagee" src="https://www.sejong.go.kr/thumbnail/tursmCn/920_TUCN_202011230500201562.JPG" alt="사진"
            width:400px; height:auto; vertical-align: middle;>
    </div>
    </div>

    <div>
        <span>
            <input class="textinput" placeholder="차량 번호 : " type="text" />
        </span>
        <br />
        <span>
            <input class="textinput" placeholder="전화 번호 : " type="password" />
        </span>
    </div>
    <div>
        <button class="styled" type="button" onclick="javascript:location.href='/main'">
            시작하기
        </button>
    </div>

</body>
</html>