<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' q type="text/css" href='../css/style.css' />
    <title>Document</title>
    <h2>
        <p style="text-align:center;">세종시 자율주행 발렛 파킹</p>
    </h2>
</head>

<body>
    <div class=map>
        <div style="width: auto; height: 400px;; border:3px solid rgb(0, 0, 0);">
            <img src="" alt="사진" width:50px; height:50px; vertical-align: middle;>
        </div>
    </div>

</body>
<footer>
    <div>
        <button class="styled1" type="button" onclick="javascript:location.href='/parking'">
            자율주행 발렛 파킹
        </button>
    </div>
    <div>
      <button class="styled1" type="button" onclick="javascript:location.href='/pickup'">
          자율주행 차량 호출
      </button>
  </div>
</footer>

</html>