<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' q type="text/css" href='../css/style.css' />
  <title>Document</title>


  <h2 style="text-align:center;">
    세종시 자율주행 발렛 파킹
  </h2>
  <a href="javascript:void(0)" onclick="goBack()"><img
      src="https://cdn.pixabay.com/photo/2020/03/22/15/19/arrow-4957487_960_720.png" title="뒤로가기" class="m_back"></a>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <!-- <style>

            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              text-align:center;
            }
            li {
                display: inline-block;
              float: center;
              font-size: 15px;

            }
            li a, .dropbtn {
              display: inline-block;
              text-align: center;
              font-size: 15px;
            }
            </style>
            </head>
            <body>
            <ul>
              <li><h2><a style="text-align:center;">
                     세종시 자율주행 발렛 파킹 </a></h2></li>
              <li class="">
                <a href="javascript:void(0)" onclick="goBack()"><img src="https://cdn.pixabay.com/photo/2020/03/22/15/19/arrow-4957487_960_720.png" width="15"  height="15"></a>
              </li>
            </ul>
        </div> -->
</head>




<body>
  <div class=map>
      <img class="imagee" src="https://www.sejong.go.kr/thumbnail/tursmCn/920_TUCN_202011230500201562.JPG" alt="사진" * width:400px;
        height:auto; vertical-align: middle;>
    </div>
  </div>

</body>
<div>
  <button class="styled1" type="button" onclick="javascript:location.href='/parking?cid=0'">
    자율주행 발렛 파킹
  </button>
</div>
<div>
  <button class="styled1" type="button" onclick="javascript:location.href='/pickup?cid=0'">
    자율주행 차량 호출
  </button>
</div>


</html>