<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" q type="text/css" href="../css/style.css">

<body>
    <h2>
        <p style="text-align:center;" onclick="javascript:location.href='/main'">세종시 자율주행 발렛 파킹</p>
    </h2>
    <p class="onmaptext">발렛 파킹</p>
    <div class="parkingmap"style="width: auto; height:600px; border:3px solid rgb(0, 0, 0);">
        <img src="" alt="주차장 지도" width:50px; height:50px; vertical-align: middle;>
    </div>

    <div>
        <button class="styled2" type="button" onclick="javascript:location.href='/pickup2'">
            <h2>
            차량 이동 중
        </h2>
        </button>
    </div>
</body>


</html>