<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" q type="text/css" href="../css/style.css">

<body>
    <h2 class="maintext">
        <p style="text-align:center;" onclick="javascript:location.href='/main'">세종시 자율주행 픽업</p>
        <a href="javascript:void(0)" onclick="goBack()"><img
                src="https://cdn.pixabay.com/photo/2020/03/22/15/19/arrow-4957487_960_720.png" title="뒤로가기"
                class="m_back"></a>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </h2>
    <p class="button_onmain">차량 호출</p>
    <!-- 맵 api-->
    <div id="map" style="width:auto;height:400px;"></div>
    
    
<!-- 호출할 위치를 선택하면  위에있는 텍스트가 사라지고 아래의 텍스트가 나와야함-->
    <h2>
        <p span id="txtbox1" style="text-align:center;">지도에서 호출할 위치를 선택 해주세요.</p>
    </h2>


    
    <!--
    <div class="item-wrap">
        <div class="items">
            <div class="item left">
                <button class="styled1" , type="button" id="1_loc">1번 구역</button>
            </div>
            <div class="item right">
                <button class="styled1" , type="button" id="2_loc">2번 구역</button>
            </div>
        </div>
    </div>
    -->
    <div>
        <button class="styled1" type="button" id="pickupRequest">
            차량 호출 시작
        </button>
    </div>

    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=4oxbi73uru&callback=initMap"></script>
    <script type="text/javascript">

        var loc_check = 0;
        var loc_data;
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(36.498418, 127.28269),
            zoom: 17
        });

        
        //1
        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.49801, 127.282085,),
                    new naver.maps.LatLng(36.498039, 127.282049),
                    new naver.maps.LatLng(36.498023, 127.282029),
                    new naver.maps.LatLng(36.497994, 127.282065)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        });
        //2
        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.498099, 127.282295),
                    new naver.maps.LatLng(36.498071, 127.28233),
                    new naver.maps.LatLng(36.498087, 127.28235),
                    new naver.maps.LatLng(36.498115, 127.282315)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        });
        //3
        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.498233, 127.282362),
                    new naver.maps.LatLng(36.498262, 127.282326),
                    new naver.maps.LatLng(36.498246, 127.282306),
                    new naver.maps.LatLng(36.498217, 127.282342)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        });
        //4
        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.498389, 127.282725),
                    new naver.maps.LatLng(36.498418, 127.28269),
                    new naver.maps.LatLng(36.498433, 127.282709),
                    new naver.maps.LatLng(36.498405, 127.282745)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        });
        //5
        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.498582, 127.282722),
                    new naver.maps.LatLng(36.498553, 127.282759),
                    new naver.maps.LatLng(36.498537, 127.282739),
                    new naver.maps.LatLng(36.498566, 127.282703)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        });
        //6
        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.498866, 127.283073),
                    new naver.maps.LatLng(36.498837, 127.28311),
                    new naver.maps.LatLng(36.49882, 127.28309),
                    new naver.maps.LatLng(36.49885, 127.283053)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        })
        //7
        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.498817, 127.283254),
                    new naver.maps.LatLng(36.498801, 127.283234),
                    new naver.maps.LatLng(36.498829, 127.283199),
                    new naver.maps.LatLng(36.498845, 127.283219)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        });

        //8
        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.498819, 127.283357),
                    new naver.maps.LatLng(36.498791, 127.283392),
                    new naver.maps.LatLng(36.498777, 127.283374),
                    new naver.maps.LatLng(36.498804, 127.283339)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        });
        //9
        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.498446, 127.282893),
                    new naver.maps.LatLng(36.498418, 127.282928),
                    new naver.maps.LatLng(36.498402, 127.282908),
                    new naver.maps.LatLng(36.498429, 127.282873)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        });
        //10
        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.4982, 127.28259),
                    new naver.maps.LatLng(36.498173, 127.282625),
                    new naver.maps.LatLng(36.498157, 127.282606),
                    new naver.maps.LatLng(36.498185, 127.282571)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        });
        
        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.498904, 127.281948),
                    new naver.maps.LatLng(36.498922, 127.281995),
                    new naver.maps.LatLng(36.498939, 127.281984),
                    new naver.maps.LatLng(36.498920, 127.281940)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        });

        var polygon = new naver.maps.Polygon({
            map: map,
            paths: [
                [
                    new naver.maps.LatLng(36.497787, 127.283348),
                    new naver.maps.LatLng(36.497801, 127.283394),
                    new naver.maps.LatLng(36.497820, 127.283383),
                    new naver.maps.LatLng(36.497806, 127.283340)

                ]
            ],
            fillColor: '#ff0000',
            fillOpacity: 0.3,
            strokeColor: '#ff0000',
            strokeOpacity: 0.6,
            strokeWeight: 3
        });

        const locations = [
            { place: "마커1", lat: parseFloat(<%= data["x1"] %>), lng: parseFloat(<%= data["y1"] %>) }
        ];

        for (var i = 0; i < locations.length; i++) {
            var marker = new naver.maps.Marker({
                map: map,
                icon: {
                    url: '../images/car.png'
                },
                title: locations[i].place,
                position: new naver.maps.LatLng(locations[i].lat, locations[i].lng),
            });
        }
        /*
        $("#1_loc").click(function () {
            loc_check = 1;
            loc_data = 0;
            console.log("1click");
            console.log(loc_check);
        });
        $("#2_loc").click(function () {
            loc_check = 1;
            loc_data = 1;
        });
        */
        $("#pickupRequest").click(function () {
            console.log("loc_check");
            console.log(loc_check);
            if (loc_check == 1) {
                $.ajax({
                    url: '/pickup/Request',
                    type: 'POST',
                    data: { pid: loc_data, car:<%=carid %>}
            });

            location.href = "/pickup2?cid=" +<%=carid %>;
            }else {
              alert("픽업 구역부터 선택해주세요.");
            }
        });
    </script>
    <!-- 여기 버튼을 누르면 텍스트가 바뀌게 -->
    <script>
        var position = new naver.maps.LatLng(36.498922, 127.281995);
        var markerOptions = {
            position: position,
            map: map,
            icon: {
                url: '../images/parking.png',
                size: new naver.maps.Size(70, 70),
                origin: new naver.maps.Point(0, 0),
                anchor: new naver.maps.Point(25, 26)
            }
        };

        var marker_1 = new naver.maps.Marker(markerOptions);
    </script>

        <script>
            var position1 = new naver.maps.LatLng(36.497801, 127.283394);
            var markerOptions = {
                position: position1,
                map: map,
                icon: {
                    url: '../images/parking.png',
                    size: new naver.maps.Size(70, 70),
                    origin: new naver.maps.Point(0, 0),
                    anchor: new naver.maps.Point(25, 26)
                    
                }
            };
            var marker_2 = new naver.maps.Marker(markerOptions);
        </script>
        <!-- 파키장이 중복으로 선택되지 않게 하는 부분 추가 -->
        <script>
          naver.maps.Event.addListener(marker_1, 'click', function(){
            console.log("1 click");
            loc_check = 1;
            loc_data = 1;
            alert("픽업 지역이 선택되었습니다.");
            document.getElementById("txtbox1").innerText = '세종특별시 120 주차장 1번 픽업장'

          });
          naver.maps.Event.addListener(marker_2, 'click', function(){
            console.log("2 click");
            loc_check = 1;
            loc_data = 2;
            alert("픽업 지역이 선택되었습니다.");
            document.getElementById("txtbox1").innerText = '세종특별시 120 주차장 2번 픽업장'

          });
        </script>
</body>


</html>
