<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" q type="text/css" href="../css/style.css">

<body>
    <h2>
        <p style="text-align:center;" onclick="javascript:location.href='/main'">세종시 자율주행 발렛 파킹</p>
    </h2>
    <p class="onmaptext">발렛 파킹</p>
    <!-- 맵 api-->
    <div id="map" style="width:auto;height:400px;"></div>
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=4oxbi73uru&callback=initMap"></script>
        <script type="text/javascript">
            var map = null;
    
            function initMap() {
                map = new naver.maps.Map('map', {
                    center: new naver.maps.LatLng(36.49899, 127.28314),
                    zoom: 17
                });
            }
        </script>

    <div>
        <button class="styled2" type="button" onclick="javascript:location.href='/pickup2'">
            <h2>
            차량 이동 중
        </h2>
        </button>
    </div>
</body>


</html>