body, html{width:100%;height: 100%;overflow-x: hidden;}



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*왼쪽 여백 없애기*/
    margin: 0 auto;
    padding: 0;
}

/*버튼 센터*/
.mainbuttoncenter{
  margin: auto;
  width: 50%;
  font-size: 150px;
  
}

/*nav bar 에서 클래스 지정해서 한개의 버튼만 오른쪽으로*/
#navbarmenu li.dropdown{float:right;}

.fontsize {font-size: large;} 

td{
  font-size: 20px;
}
input{
  font-size: 20px;
}
div{
  font-size: 20px;
}

  .map{
    margin: 5% ;
  }

  .parkingmap{
    margin: 5%;
  }

  .textinput{
    border:none;
    background-color: rgb(243, 243, 243);
    outline:none;
    display:flex;
    vertical-align:middle;
    position:relative;
    width: 73%;
    height:40px;
    margin: 0px 0px 10px 10%;
    border-radius:22px;
    padding:0 18px;
    justify-content: center;
  }

  /*버튼*/
.styled {
  border: 0;
  line-height: 2.5;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  background-color: rgb(41, 103, 255);
  width: 80%;
  margin: 10%;
  border-radius:22px;
  padding:0 18px;
  justify-content: center;
}

.styled1 {
  border: 0;
  line-height: 3;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  background-color: rgb(41, 103, 255);
  width: 90%;
  margin: 5%;
  border-radius:22px;
  padding:0 18px;
  justify-content: center;
}

.styled2 {
  border: 0;
  line-height: 2.5;
  font-size: 1rem;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(243, 243, 243);
  width: 90%;
  margin: 5%;
  border-radius:22px;
  padding:0 18px;
  justify-content: center;
}

.onmaptext{
  margin: 5%;
  font-size: 16px;
  font-weight: bold;

}